PORT=5000
MONGO_URI=mongodb://localhost:27017/shortlink_hub
JWT_SECRET=Hustle
JWT_REFRESH_SECRET=HustleProject
CLIENT_URL=http://localhost:5173
NODE_ENV=development
IP_HASH_SECRET=super_secret_ip_salt
